.App {
  text-align: center;
}

.App-header {
  background-color: #f5f5f5;
  padding: 20px;
}

.App-header img {
  width: 150px;
  margin-bottom: 20px;
}

.App-header h1 {
  color: #154b19; 
  font-size: 2rem;
}